* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(0, 0, 0, 0.95);
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.btn {
    cursor: pointer;
}

.buttons .btn  {
    margin-left: 10px;
    border: 2px solid aqua;
    color: white;
    background-color: rgba(0, 0, 0, 0.30);
}

.buttons .btn:hover, .btn-contact:hover {
    color: black;
    background-color: aqua;
    border: none;
}

.navbar {
    transition: all 0.5s;
}

.navbar-scrolled {
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.nav-link {
    position: relative;
    margin: 0 25px;
    color: white;
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 1.5px;
    width: 100%;
    background-color: aqua;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.dropdown-menu {
    background-color: transparent;
}

.dropdown-menu>li {
    border-bottom: 1px solid aqua;
}

.dropdown-menu>li:last-of-type {
    border-bottom: none;
}

.dropdown-item {
    color: white;
    text-align: center;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.dropdown-item:hover {
    background-color: transparent;
}

.show {
    margin-top: 10rem;
    margin-bottom: 8rem;
}

.descr-txt {
    color: white;
    line-height: 1.8;
    font-size: 20px;
}

.title {
    font-size: 30px;
    margin-bottom: 5rem;
    color: white;
}

.show-img {
    width: 420px;
    height: 300px;
}

.divider {
    width: 90%;
    border: 1px solid white;
    margin: 20px auto;
}

.details, .screenings, .description {
    margin-top: 5rem;
    margin-bottom: 6rem;
    color: white;
}

.scr-title {
    font-size: 28px;
    color: white;
}

.profile .fa-user {
    color: white;
    font-size: 20px;
    margin: 0 20px;
}

.btn-reserve {
    color: black;
    background-color: aqua;
    width: 100px;
}

.btn-reserve:hover {
    color: white;
    background-color: aqua;
}

.scr-details {
    margin: 2rem 0;
}

.list {
    font-size: 15px;
    margin-right: 7px;
}

.list>a {
    text-decoration: none;
    color: white;
}

footer {
    color: rgba(255, 255, 255, 0.67);
    font-size: 15px;
}

.heart input {
    display: none;
}

.heart .fa-heart {
    color: white;
}

.heart input:checked + label .fa-heart {
    color: red;
}

@media (min-width: 576px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}