<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;400&family=Roboto+Condensed:wght@300;400&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="/css/reservations.css">
    <script src="https://kit.fontawesome.com/12af9fc3bf.js" crossorigin="anonymous"></script>
    <title>Reservations</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand"><img class="logo" src="/images/logo.png" alt="logo">Space</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link" role="button" data-bs-toggle="dropdown">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="/shows" class="nav-link" role="button">Shows</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link" role="button" data-bs-toggle="dropdown">Plan your Visit</a>
                </li>
                <li class="nav-item dropdown justify-content-center align-items-center">
                    <a href="#" class="nav-link" role="button">Contact</a>
                </li>
            </ul>
        </div>
        <div class="buttons">
            <a href="/login" type="button" class="btn btn-login btn-outline-light px-3">Login</a>
            <a href="/register" type="button" class="btn btn-signup btn-outline-light px-3">Sign Up</a>
        </div>
        <a href="/profile" class="profile" type="button"><i class="fa-regular fa-user"></i></a>
    </div>
</nav>


<div class="reservations container">
    <h2 class="title text-center">Reservations</h2>
    <div class="row justify-content-center text-align-center">
        <div th:each="reservation : ${reservations}" class="row reservation text-center mb-2">
            <div>
                <span>Registered At: </span>
                <span th:text="${reservation.registeredAt}"></span>
            </div>
            <div>
                <span>Screening ID: </span>
                <span th:text="${reservation.screening.id}"></span>
            </div>
            <div>
                <span>Screening price: </span>
                <span th:text="${reservation.screening.price}"></span>
            </div>
            <div>
                <span>Show title: </span>
                <span th:text="${reservation.screening.show.title}"></span>
            </div>
            <div>
                <span>User ID: </span>
                <span th:text="${reservation.user.id}"></span>
            </div>
            <div>
                <span>Username: </span>
                <span th:text="${reservation.user.username}"></span>
            </div>
            <div>
                <span>User email: </span>
                <span th:text="${reservation.user.email}"></span>
            </div>
        </div>
    </div>
</div>
<footer>
    <p class="text-center fixed-bottom">Copyright &copy; Space.com</p>
</footer>
<script>
    const navEl = document.querySelector('.navbar');
    window.addEventListener('scroll', () => {
        if (window.scrollY >= 56) {
            navEl.classList.add('navbar-scrolled');
        } else if (window.scrollY < 56) {
            navEl.classList.remove('navbar-scrolled');
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
</script>
</body>
</html>